<main class="form-signin w-100 m-auto">
    <form action="/users/register" method="post">
    <!-- <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal"> ثبت نام کاربر </h1>

    <div class="form-floating">
        <label for="inputFullname"> نام و نام خانوادگی </label>
        <input  class="form-control mb-2" id="inputFullname" placeholder=" نام و نام خانوادگی خود را وارد کنید ... "
        name="fullname" 
        required
        autofocus
        >
    </div>
    <div class="form-floating"> 
        <label for="floatingInput"> آدرس ایمیل </label>
        <input type="email" class="form-control mb-2" id="floatingInput" placeholder="name@example.com"
        required
        name="email"
        >
    </div>
    <div class="form-floating">
        <label for="floatingPassword"> کلمه عبور </label>
        <input type="password" class="form-control mb-2" id="floatingPassword" placeholder=" کلمه عبور "
        required
        name="password"
        >
    </div>

    <div class="form-floating">
        <label for="inputConfirmPassword"> تکرار کلمه عبور </label>
        <input type="password" class="form-control" id="inputConfirmPassword" placeholder=" تکرار کلمه عبور "
        name="confirmPassword"
        required
        >
    </div>

    <div class="checkbox mb-3">
      <label>
        <a href="/users/login"> اکانت کاربری دارم </a>
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit"> ثبت نام </button>
  </form>
</main>